name: ReaPack Indexer

on:
  push:
    branches: [main]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    
    permissions:
      contents: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Run reapack-index
        uses: cfillion/reapack-index@v1.2.6   # <--- 修改了这里
        with:
          version: latest
          name: "Zyc Scripts"
          output: "index.xml"

      - name: Commit index.xml
        uses: stefanzweifel/git-auto-commit-action@v5
        with:
          file_pattern: index.xml
          commit_message: "Update ReaPack index [skip ci]"
          branch: main
