name: ReaPack Indexer

on:
  push:
    branches: [main]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    
    permissions:
      contents: write

    steps:
      - name: Fetch repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Install Pandoc
        run: sudo apt-get install -yy pandoc

      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: 3.2

      - name: Install reapack-index
        run: gem install reapack-index

      # --- 修改了这里 ---
      # 删除了 --index 参数
      # 也就是：用 "Zyc Scripts" 这个名字，扫描当前目录(.)，默认生成 index.xml
      - name: Run reapack-index
        run: reapack-index --name "Zyc Scripts" .

      - name: Commit changes
        uses: stefanzweifel/git-auto-commit-action@v5
        with:
          file_pattern: index.xml
          commit_message: "Update ReaPack index [skip ci]"
          branch: main
